<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControllerCliente</servlet-name>
        <servlet-class>Controller.ControllerCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCategoriaArticulo</servlet-name>
        <servlet-class>Controller.ControllerCategoriaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerArticulo</servlet-name>
        <servlet-class>Controller.ControllerArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerCliente</servlet-name>
        <url-pattern>/ControllerCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCategoriaArticulo</servlet-name>
        <url-pattern>/ControllerCategoriaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerArticulo</servlet-name>
        <url-pattern>/ControllerArticulo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
