<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControllerCliente</servlet-name>
        <servlet-class>Controller.ControllerCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCategoriaArticulo</servlet-name>
        <servlet-class>Controller.ControllerCategoriaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerArticulo</servlet-name>
        <servlet-class>Controller.ControllerArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>Controller.ControllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerEstudiante</servlet-name>
        <servlet-class>Controller.ControllerEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCurso</servlet-name>
        <servlet-class>Controller.ControllerCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerFicha</servlet-name>
        <servlet-class>Controller.ControllerClase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCategoriaCurso</servlet-name>
        <servlet-class>Controller.ControllerCategoriaCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerEmpresa</servlet-name>
        <servlet-class>Controller.ControllerEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCompra</servlet-name>
        <servlet-class>Controller.ControllerCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerClase</servlet-name>
        <servlet-class>Controller.ControllerClase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerUsuario</servlet-name>
        <servlet-class>Controller.ControllerUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPreinscripcion</servlet-name>
        <servlet-class>Controller.ControllerPreinscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVenta</servlet-name>
        <servlet-class>Controller.ControllerVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerMatricula</servlet-name>
        <servlet-class>Controller.ControllerMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCredito</servlet-name>
        <servlet-class>Controller.ControllerCredito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incrito</servlet-name>
        <servlet-class>Model.DTO.Incrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObjIncrito</servlet-name>
        <servlet-class>Model.DTO._objIsncrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerCliente</servlet-name>
        <url-pattern>/ControllerCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCategoriaArticulo</servlet-name>
        <url-pattern>/ControllerCategoriaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerArticulo</servlet-name>
        <url-pattern>/ControllerArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/ControllerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerEstudiante</servlet-name>
        <url-pattern>/ControllerEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCurso</servlet-name>
        <url-pattern>/ControllerCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerFicha</servlet-name>
        <url-pattern>/ControllerFicha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCategoriaCurso</servlet-name>
        <url-pattern>/ControllerCategoriaCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerEmpresa</servlet-name>
        <url-pattern>/ControllerEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCompra</servlet-name>
        <url-pattern>/ControllerCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerClase</servlet-name>
        <url-pattern>/ControllerClase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerUsuario</servlet-name>
        <url-pattern>/ControllerUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPreinscripcion</servlet-name>
        <url-pattern>/ControllerPreinscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVenta</servlet-name>
        <url-pattern>/ControllerVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerMatricula</servlet-name>
        <url-pattern>/ControllerMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCredito</servlet-name>
        <url-pattern>/ControllerCredito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incrito</servlet-name>
        <url-pattern>/Incrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObjIncrito</servlet-name>
        <url-pattern>/ObjIncrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/dbworkstationsoftware?zeroDateTimeBehavior=convertToNull</description>
        <res-ref-name>dbworkstationsoftware</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
